out/source/RoboArena.java
out/RoboArena.class
out/RoboArena$Arena.class
out/RoboArena$Coin.class
out/RoboArena$GoldCoin.class
out/RoboArena$Robot.class
out/RoboArena$SilverCoin.class
out/RoboArena$SquareBot.class
